<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77033369470-1b3trcncf99op9hjrkkmjul4t7gu0i4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77033369470-1b3trcncf99op9hjrkkmjul4t7gu0i4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCn2eHSYlW48U_MhbAaaRvVGWd2FSfuWVo</string>
	<key>GCM_SENDER_ID</key>
	<string>77033369470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEasyCard</string>
	<key>PROJECT_ID</key>
	<string>flutter-easy-card</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-easy-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77033369470:ios:d87ecdd743fa9cc168cd2f</string>
</dict>
</plist>